[user]
	email = shahid.ice.nstu@gmail.com
	name = shahid
[core]
	editors = vim
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	clog = log --oneline --graph
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache --timeout 300
